<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="Database_CacheSizeMax" value="1024"/>
    <!-- <add key="Manager_MaxTasks" value="2" /> -->
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <!-- <target name="f1" xsi:type="File" fileName="NAppProfiler.ServerLog.txt" /> -->
      <target name="f1" xsi:type="Console" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="f1" />
    </rules>
  </nlog>
</configuration>