<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Database_CacheSizeMax" value="1024"/>
    <add key="Database_Directory" value="..\..\..\DB" />
    <add key="Index_Directory" value="..\..\..\Index" />
    <add key="Manager_MaxTasks" value="4"/>
    <add key="Trace_Logging" value="false"/>
  </appSettings>
</configuration>