.log-graph {
  margin-bottom: 30px;
  background-color: #f5f5f5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  height: 340px;
}
.log-graph h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
.log-graph p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
}
.show-grid [class*="span"] {
    background-color: #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    min-height: 30px;
    line-height: 20px;
}
.selectiondiv 
{
    position: relative;
    border:2px solid white;
    background:#1B94E0;
    opacity:0.4;
    filter:alpha(opacity=40);
    margin:0px;
    padding:0px;
    display:none;
}
.log-canvas {
    position: absolute;
    padding: 30px;
}