@{
    ViewBag.Title = "Home";
}
<div id="detailView" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>Log Details</h3>
    </div>
    <div class="modal-body">
        <div class="accordion" id="a3">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#a3" href="#c3">
                    <div class="container">
                    <div class="row"> <!-- max span is 11 -->
                    <div class="span1">ID #1 awefa wefwaef awef awe f weafw eaf awe</div>
                    <div class="span1">ID #1 awefa wefwaef awef awe f weafw eaf awe</div>
                    <div class="span1">ID #1 awefa wefwaef awef awe f weafw eaf awe</div>
                    <div class="span1">ID #1 awefa wefwaef awef awe f weafw eaf awe</div>
                    <div class="span1">ID #1 awefa wefwaef awef awe f weafw eaf awe</div>
                    <div class="span1">ID #1 awefa wefwaef awef awe f weafw eaf awe</div>
                    <div class="span1">ID #1 awefa wefwaef awef awe f weafw eaf awe</div>
                    <div class="span1">ID #1 awefa wefwaef awef awe f weafw eaf awe</div>
                    <div class="span1">ID #1 awefa wefwaef awef awe f weafw eaf awe</div>
                    <div class="span1">ID #1 awefa wefwaef awef awe f weafw eaf awe</div>
                    <div class="span1">ID Last</div>
                    </div>
                    </div>
                    </a>
                </div>
                <div id="c3" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Full Detail Information.awefew<br/>
                    </div>
                </div>
            </div>
        </div><!--accordion-->
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" data-dismiss="modal">Close</a>
    </div>
</div><!--/modal-->

<div class="container">
    <div class="row">
        <div class="span4">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Search</li>
                    <li class="active"><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li class="nav-header">Sidebar</li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li class="nav-header">Sidebar</li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div><!--/.well -->
        </div><!--span4-->
        <div class="span8">
            <div class="log-graph">
                <h1>Log Graph!</h1>
                <p>Show Details</p>
                <p><a class="btn btn-primary btn-large" data-toggle="modal" href="#detailView">Show Details &raquo;</a></p>
            </div>
        </div><!--span8-->
    </div><!--row-->
</div><!--container-->
