@{
    ViewBag.Title = "Home";
}
@section Init
{
$(function() {
    $("#fromDate").datepicker({dateFormat: 'yy-mm-dd'});
    $("#fromTime").timepicker();
    $("#toDate").datepicker({dateFormat: 'yy-mm-dd'});
    $("#toTime").timepicker();
    $("input[name='dateOptions']").change(function() {
        if ($(this).val() == "realtime") {
            $("#dateRangeOptions").collapse('hide');
        }
        else {
            $("#dateRangeOptions").collapse('show');
        }
    });
    $("#clearForm").click(function() {
        $(':input', "#searchForm").each(function() {
            var type = this.type;
            var tag = this.tagName.toLowerCase(); // normalize case
            if (type == 'text') {
                this.value = "";
            }
        });
        $("#daterange").removeAttr('checked');
        $("#realtime").attr('checked', 'checked');
        $("#exceptionOnly").removeAttr('checked');
        $("#dateRangeOptions").collapse('hide');
    });
    $(document).mouseup(function() {
        if (selection) {
            selection = false;
            $('#selection').hide();
            $('#status').html('(' + x1 + ',' + y2 + '),(' + x2 + ',' + y2 + ')');
        }
    });
    $('#logGraph').mousedown(function(e) {
        selection = true;
        x1 = e.pageX - this.offsetLeft;
        y1 = e.pageY - this.offsetTop;
    });
    $('#logGraph').mousemove(function(e) {
        if (selection) {
            x2 = e.pageX - this.offsetLeft;
            y2 = e.pageY - this.offsetTop;
            x2 = (x2 < 0) ? 0 : (x2 > $(this).width()) ? $(this).width() : x2;
            y2 = (y2 < 0) ? 0 : (y2 > $(this).height()) ? $(this).height() : y2;

            $('#selection').css({
                position: 'relative',
                zIndex: 5000,
                left: (x1 < x2) ? x1 : x2,
                top: (y1 < y2) ? y1 : y2,
                width: (x1 < x2) ? x2 - x1 : x1 - x2,
                height: (y1 < y2) ? y2 - y1 : y1 - y2
            });
            $('#selection').show();
        }
    });
    $('#startSearch').click(function() {
        alert('search');
    });
    Modernizr.load({
        test: Modernizr.canvas,
        nope: ['@Url.Content("~/Scripts/excanvas.js")']
    });
    if (!Modernizr.canvas) {
        G_vmlCanvasManager.initElement($('#logCanvas'));
    }
});
}
<script type="text/javascript">
    var x1, x2, y1, y2;
    var selection = false;
</script>
<div id="detailView" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>Log Details</h3>
    </div>
    <div class="modal-body">
        <div class="accordion" id="a3">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#a3" href="#c3">
                    <div class="container">
                    <div class="row"> <!-- max span is 11 -->
                    <div class="span1">ID #1 awefa wefwaef awef awe f weafw eaf awe</div>
                    <div class="span1">ID #1 awefa wefwaef awef awe f weafw eaf awe</div>
                    <div class="span1">ID #1 awefa wefwaef awef awe f weafw eaf awe</div>
                    <div class="span1">ID #1 awefa wefwaef awef awe f weafw eaf awe</div>
                    <div class="span1">ID #1 awefa wefwaef awef awe f weafw eaf awe</div>
                    <div class="span1">ID #1 awefa wefwaef awef awe f weafw eaf awe</div>
                    <div class="span1">ID #1 awefa wefwaef awef awe f weafw eaf awe</div>
                    <div class="span1">ID #1 awefa wefwaef awef awe f weafw eaf awe</div>
                    <div class="span1">ID #1 awefa wefwaef awef awe f weafw eaf awe</div>
                    <div class="span1">ID #1 awefa wefwaef awef awe f weafw eaf awe</div>
                    <div class="span1">ID Last</div>
                    </div>
                    </div>
                    </a>
                </div>
                <div id="c3" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Full Detail Information.awefew<br/>
                    </div>
                </div>
            </div>
        </div><!--accordion-->
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" data-dismiss="modal">Close</a>
    </div>
</div><!--/modal-->

<div class="container">
    <div class="row">
        <div class="span4">
            <form class="well form-inline" id="searchForm">
                <label class="checkbox"><input type="checkbox" id="exceptionOnly" />Show Exceptions Only&nbsp;&nbsp;</label>
                <a class="btn btn-primary pull-right" id="startSearch">Search &raquo;</a>
                <div class="control-group">
                    <div class="controls">
                        <label class="radio"><input name="dateOptions" id="realtime" value="realtime" type="radio" checked="checked" />Realtime</label>
                        <label class="radio"><input name="dateOptions" id="daterange" value="daterange" type="radio" />Date Time Range</label>
                        <a class="btn pull-right" id="clearForm">Clear &raquo;</a>
                    </div>
                </div><!--datetime-->
                <div id="dateRangeOptions" class="collapse">
                    <div class="control-group">
                        <label class="control-label">From</label>
                        <div class="controls">
                            <input id="fromDate" class="span2" type="text" />
                            <input id="fromTime" class="span1" type="text" />
                        </div>
                    </div><!-- From DateTime -->
                    <div class="control-group">
                        <label class="control-label">To</label>
                        <div class="controls">
                            <input id="toDate" class="span2" type="text" >
                            <input id="toTime" class="span1" type="text" >
                        </div>
                    </div><!-- To DateTime -->
                    <div class="control-group">
                        <label>Text Search</label>
                        <input id="textsearch" type="text" />
                    </div><!-- Text Search -->
                    <div class="control-group">
                        <label>Client IP</label>
                        <div class="controls">
                            <input id="cip1" class="span1" type="text" />
                            <input id="cip2" class="span1" type="text" />
                            <input id="cip3" class="span1" type="text" />
                            <input id="cip4" class="span1" type="text" />
                        </div>
                    </div><!-- Client IP -->
                    <div class="control-group">
                        <label>Server IP</label>
                        <div class="controls">
                            <input id="sip1" class="span1" type="text" />
                            <input id="sip2" class="span1" type="text" />
                            <input id="sip3" class="span1" type="text" />
                            <input id="sip4" class="span1" type="text" />
                        </div>
                    </div><!-- Server IP -->
                    <div class="control-group">
                        <label>Total Elapsed (ms)</label>
                        <input id="totalFrom" class="span1 pull-right" type="text" placeholder="from" />
                        <input id="totalTo" class ="span1 pull-right" type="text" placeholder="to" />
                    </div><!-- Total Elapsed -->
                    <div class="control-group">
                        <label>Detail Elapsed (ms)</label>
                        <input id="detailFrom" class="span1" type="text" placeholder="from" />
                        <input id="detailTo" class="span1" type="text" placeholder="to" />
                    </div><!-- Detail Elapsed -->
                </div><!--collapsable dateRangeOptions-->
            </form>
        </div><!--span4-->
        <div class="span8">
            <div class="log-graph" id="logGraph">
                <div id="selection" class="selectiondiv"></div>
                <canvas id="logCanvas" class="log-canvas" width="560px" height="220px"></canvas>
            </div>
            <p id="status">(0,0),(0,0)</p>
        </div><!--span8-->
    </div><!--row-->
</div><!--container
-->